{%extends "user/userdashboardlayout.html"%}

{% block content %}
    <h2>Consultation</h2>
    <p>Fill out the form below to request a consultation:</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.message.label }}
            {{ form.message(class="form-control", rows=4) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary", value="Submit") }}
        </div>
    </form>
{% endblock %}
